/* Fuente Poppins para mejorar la legibilidad */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Press+Start+2P&display=swap');

body {
    background: linear-gradient(to right, #ff3c00, #ff9800);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* ---- HEADER ---- */
header {
    background-color: #333;
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 50px;
    color: #eecb0a;
    text-shadow: -4px -4px 0 #2837cb,  
                 4px -4px 0 #2837cb,  
                 -4px 4px 0 #2837cb,  
                 4px 4px 0 #2837cb,  
                 0px 0px 10px black;
    font-family: 'Press Start 2P', sans-serif;
    text-transform: uppercase;
}

/* ---- BUSCADOR ---- */
nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 0 15px;
    flex-wrap: wrap;
}

.buscar-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en varias líneas */
    gap: 15px; /* Espaciado entre elementos */
    justify-content: center; /* Centrar elementos */
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.buscar-container input {
    padding: 10px;
    width: 250px;
    max-width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.buscar-container input:focus {
    border-color: #ffcc00; /* Amarillo brillante al enfocar */
}


.tipos-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el label y el checkbox */
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 8px;
}

.tipos-container label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.tipos-container input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #ffcc00; 
    cursor: pointer;
    transition: transform 0.2s ease;
}


/* ---- MAIN ---- */
.main-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

/* ---- TARJETAS DE POKÉMON ---- */
.pokemon-card {
    background: white;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    width: 600px;
}


/* ---- TABLA DE ESTADÍSTICAS ---- */
.table-pokemon{
    height: 50px;
    width: 500px;
    margin: 50px;

}

.table-pokemon td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* ---- IMÁGENES DE POKÉMON ---- */
.td-img img {
    width: 120px;
    height: 120px;
    image-rendering: pixelated;
}

/* ---- TEXTO ---- */
p {
    font-weight: bold;
    color: #333;
}


